body {
  font-size: 12px;
  line-height: 1.2;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rc-input-number {
  margin-top: 4px;
  width: 100%;
  padding-left: 8px;
}
.rc-input-number-input {
  text-align: left;
  color: inherit;
}
.bp3-tab-list {
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0),
    0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0),
    0 1px 1px rgba(16, 22, 26, 0.2);
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.bp3-tab-panel {
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0),
    0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0),
    0 1px 1px rgba(16, 22, 26, 0.2);
  background-color: #ffffff;
  width: 100%;
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.bp3-tabs {
  /* -webkit-box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0),
    0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0),
    0 1px 1px rgba(16, 22, 26, 0.2); */
}

.demo-editor {
  height: 275px !important;
  border: 1px solid #f1f1f1 !important;
  padding: 5px !important;
  border-radius: 2px !important;
}

.bp3-skeleton-row > div {
  border-color: rgba(167, 182, 194, 0.2) !important;
  border-radius: 2px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: rgba(167, 182, 194, 0.2) !important;
  background-clip: padding-box !important;
  cursor: default;
  color: transparent !important;
  -webkit-animation: 2000ms linear infinite glow;
  animation: 2000ms linear infinite glow;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

tr.bp3-skeleton-row > td * {
  border-color: rgba(167, 182, 194, 0.2) !important;
  border-radius: 2px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: rgba(167, 182, 194, 0.2) !important;
  background-clip: padding-box !important;
  cursor: default;
  color: transparent !important;
  -webkit-animation: 2000ms linear infinite glow;
  animation: 2000ms linear infinite glow;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

thead > tr > th[data-row-selection] {
  width: 42px;
}

tr.expanding-row > td {
  padding: 0px;
}

.DraftEditor-editorContainer {
  z-index: initial;
}

.mapInfowindow {
  line-height: 1.5;
  position: relative;
}

.mapInfowindow .title {
  font-size: 14px;
  color: #37b44c;
  font-weight: bold;
  padding-bottom: 4px;
}

.smalldiv {
  font-size: 14px;
  color: black;
}

.bp3-table-header {
  align-items: center;
  display: flex;
}
.bp3-table-truncated-text.bp3-table-no-wrap-text {
  padding: 2px;
}

.table-wrapper-scroll-y {
  display: block;
  max-height: 500px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.rc-input-number-input {
  height: 95% !important;
}

.pointer {
  cursor: pointer;
}

.disabled,
.disabled > input {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(206, 217, 224, 0.5);
  cursor: not-allowed;
  color: rgba(92, 112, 128, 0.5);
  resize: none;
}

.bp3-panel-stack-custom {
  width: 100%;
  min-height: 120vh;
}
.bp3-panel-stack-custom > .bp3-panel-stack-view {
  position: inherit !important;
}

.bp3-panel-stack-custom > * > .bp3-panel-stack-header {
  font-size: 25px;
  height: 60px;
}

.bp3-panel-stack-custom .bp3-panel-stack-header-back {
  font-size: 20px;
  font-weight: 600;
}
.bp3-panel-stack-custom .bp3-icon {
  width: 25px;
  height: 25px;
}
/* .bp3-panel-stack-header-back:hover{
  background-color:rgb(120, 224, 143) !important;
 }  */

.bp3-popover-marker-custom {
  /* top: -110px ;
  left: -84px ;
  position: absolute; */
}

.table tr:nth-child(1) th{
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  z-index: 10;
  vertical-align: middle;
  min-width: 90px;
  border-style: unset;
  background-color: #EEEEEE;
  color: #497e0a;
  /* color: #f5f8fa;   before*/
  /* background: #394b59;  before */
}

.tableNoSticky tr:nth-child(1) th {
  min-width: 10px !important;
}

.react-select-custom__menu {
  z-index: 20 !important;
}

.el-fill{
  width: 100%;
}

.pvtColLabel, pvtRowLabel{
  min-width: 100px;
}

.rc-pagination-item:hover, .rc-pagination-item-active, .rc-pagination-item:hover > a,
.page-item.active .page-link
{
  background-color: #0D8050 !important;
  border-color: #0D8050 !important;
  color: white !important;
}

.page-link {
  color: black;
}


.btn-secondary {
  color: black;
  background-color: #FAFAFA;
  border-color: rgb(250, 250, 250);
}
.show > .btn-secondary,.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active {
  color: white !important;
  background-color: #0D8050 !important;
  border-color: #0D8050 !important;
  box-shadow: #0D8050 !important;
}
.dropdown-item > a{
  color:  #0D8050 !important;
}

.rc-collampse-header-custom{
  font-weight: bold;
  font-size: 18px;
}