
 html, body {
  width: 100%;
  height: 100%;
  
  padding: 0px;
  margin: 0px;
  
  /* background: url(https://subtlepatterns.com/patterns/tweed.png); */
  background: linear-gradient(135deg,#6ABE4E, rgb(13, 128, 80) 100%) !important;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}

div.loginpanel {
  width: 100%;
  max-width: 500px;
  
  padding: 20px;
  margin: 0 auto;
  
  position: relative;
  top: 50%;
  
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  
  background-color: fade(#DDD, 60%);
  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
  -webkit-box-shadow: 0 0 5px 1px #333;
  -moz-box-shadow: 0 0 5px 1px #333;
  box-shadow: 0 0 5px 1px #333;
}
#root {
  zoom: 100% !important;
}